<h1>RICERCA</h1>
<input [(ngModel)]="term" (keyup)="onSearch()">
<div *ngIf="clientiList.length > 0">

  <table *ngIf="clientiList.length > 0">
    <tr>
      <th>Ragione Sociale</th>
      <th>Id Agente</th>
      <th>Pagina cliente</th>
    </tr>
    <tr *ngFor="let client of clientiList">
      <td>{{ client.ragionesociale }}</td>
      <td>{{ client.idAgente }}</td>
      <a *ngIf="client.idAgente" (click)="onClientClick(client.idAgente.toString())" aria-current="" href="#" routerLink="/cliente">Entra</a>
    </tr>
  </table>
  <div *ngIf="clientiList.length === 0">
    <p>No clients found.</p>
  </div>

